@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url('@Url.Content("~/images/background.jpg")') no-repeat center center fixed;
        background-size: cover;
    }
    .form-home {
        background: rgba(255, 255, 255, 0.3);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        max-width: 960px;        
        width: 100%;               
        margin: 30px auto;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.3); /* semi-transparent white */
    }
</style>


<div class="form-home">
    <div class="container">
        <h4>Latest Posts</h4>
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-md-12 mb-2">
                    <div class="card d-flex flex-row" style="height: 120px;">
                        <!-- image -->
                        @if (post.Images?.Any() == true)
                        {
                            var firstImage = post.Images.First();
                            <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.PostId">
                                <img class="card-img" style="width: 150px; height: 100%; object-fit: cover; 
                            display: block;" src="data:@firstImage.ContentType;base64,@firstImage.ImageString"
                                     alt="Post cover">
                            </a>
                        }
                        else
                        {
                            <!-- default image -->
                            <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.PostId">
                                <img src="/images/no-image.png" class="card-img" alt="No image"
                                     style="width: 150px; height: 100%; object-fit: cover; display: block;">
                            </a>
                        }

                        <!-- text -->
                        <div class="card-body d-flex flex-column justify-content-between" style="line-height: 0.5;">
                            <h6 class="card-title">
                                <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.PostId"
                                   class="text-decoration-none text-dark ">
                                    @(post.Title.Length > 60 ? post.Title.Substring(0, 60) + "..." : post.Title)
                                </a>
                            </h6>
                            <p> Posted by:
                                <span class="text-decoration-underline mb-1">@post.User?.UserName</span>
                            </p>
                            @if (post.Price > 0)
                            {
                                <p class="card-text fw-bold text-success fs-6">
                                    $@Convert.ToInt32(post.Price)/@post.PriceUnit</p>
                            }
                            <small class="text-muted fst-italic">
                                Last Updated: @post.UpdatedAt.ToString("yyyy-MM-dd")
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>




