@model VanLife.Models.ViewModel.PostViewModel

@{
    ViewData["Title"] = (Model.Post.PostId == 0) ? "Create Post" : "Edit Post";
    Boolean isCreate = Model.Post.PostId == 0;
}

@using System.Security.Claims

<h5>@ViewData["Title"]</h5>

<!-- show images if it has -->
@if (Model.Post.Images.Any())
{
    <div class="mb-3 ms-3">
        <label class="form-label">Edit Images: </label>
        <div class="d-flex flex-wrap gap-3">
            @foreach (var image in Model.Post.Images)
            {
                <div class="position-relative">
                    <img src="data:@image.ContentType;base64,@image.ImageString" alt="Post Image" class="rounded"
                         style="width: 120px; height: 120px; object-fit: cover;"/>
                    <!-- Delete image option -->
                    <form asp-action="DeleteImage" method="post">
                        <antiforgery/>
                        <input type="hidden" name="imageId" value="@image.ImageId"/>
                        <input type="hidden" name="postId" value="@Model.Post.PostId"/>
                        <button type="submit" class="btn btn-danger btn-sm position-absolute top-0 end-0">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
}
<hr/>

<form asp-action="@(isCreate ? "CreatePost" : "EditPost")" method="post" class="ms-3" enctype="multipart/form-data">
    <antiforgery/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Post.UserId" value="@(User.FindFirstValue(ClaimTypes.NameIdentifier))"/>
    <input type="hidden" asp-for="Post.PostId"/>

    <div class="form-group">
        <label asp-for="Post.Title">Title</label>
        <span asp-validation-for="Post.Title" class="text-danger"></span>
        <input asp-for="Post.Title" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Post.CategoryId">Category</label>
        <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        <select asp-for="Post.CategoryId" class="form-control"
                asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))" required>
            <option value="">Please choose a category</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Post.RegionId">Location</label>
        <span asp-validation-for="Post.RegionId" class="text-danger"></span>
        <select asp-for="Post.RegionId" class="form-control"
                asp-items="@(new SelectList(Model.Regions, "RegionId", "Location"))" required>
            <option value="">Please choose a location</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Post.Content">Content</label>
        <span asp-validation-for="Post.Content" class="text-danger"></span>
        <textarea asp-for="Post.Content" class="form-control" rows="5" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Post.Price">Price</label>
        <input asp-for="Post.Price" type="number" step="0.01" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="SelectedPriceUnit">Price Unit</label>
        <select asp-for="SelectedPriceUnit" class="form-control" asp-items="Model.PriceUnits">
        </select>
    </div>


    <!-- upload images -->
    <div class="form-group">
        <label for="imageUpload" class="form-label">Upload Image(Maximum 3 images)</label>
        <input type="file" class="form-control" id="imageUpload" name="images" multiple accept="image/*"/>
        <small class="form-text text-muted">Hold down Command (⌘) to select multiple files on MacOS.</small>
    </div>

    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary me-2" onclick="return confirm('Are you sure to submit ?')">
            Submit
        </button>
        <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
    </div>
</form>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

